
/*Resetting Styles*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* for better visibility */
.wrapper {
	height: 100%;
	padding: 50px;
}

.block__item {
	margin-bottom: 20px;
}

.block__title {
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

/* create an arrow */
.block__title::before,.block__title::after {
	content: '';
	width: 10px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 7px;
	transition: all 0.4s ease;
}

.block__title::before {
	transform: rotate(40deg);
	left: 0;
}

.block__title::after {
	transform: rotate(-40deg);
	left: 7px;
}

.block__text {
	padding-top: 10px;
	transition: all 0.3s ease;
	opacity: 0; 
	height: 0; 
}

.block__text.is-active {
	transition: opacity 0.3s linear; 
	opacity: 1;  
	height: 10%
}

.block__title.is-active::before {
	background-color: red;
	transform: rotate(-40deg);
}

.block__title.is-active::after {
	background-color: red;
	transform: rotate(40deg);
}
